<h3 style="padding: 10px;">Tela de Usuario</h3>

<form style="padding: 10px;" #formValidate="ngForm">

	<div class="form-row">
		<div class="form-group col-md-1">
			<label for="id">Id</label>
			<input type="text" class="form-control" id="id" name="id"
			[(ngModel)]="usuario.id"
			 readonly="true" autocomplete="false">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-12">
			<label for="nome">Nome</label>
			<span style="color: red; font-size: 23px;" *ngIf="nomeValidate.invalid"> *</span>
			<input type="text" class="form-control" id="nome" name="nome"
			#nomeValidate="ngModel"
			[(ngModel)]="usuario.nome"
			 required="true" autocomplete="false">
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="login">Login</label>
			<span style="color: red; font-size: 23px;" *ngIf="loginValidate.invalid"> *</span>
			<input type="text" class="form-control" id="login" name="login"
			#loginValidate="ngModel"
			[(ngModel)]="usuario.login"
			 required="true" autocomplete="false">
		</div>

		<div class="form-group col-md-6">
			<label for="senha">Senha</label>
			<span style="color: red; font-size: 23px;" *ngIf="senhaValidate.invalid"> *</span>
			<input type="password" class="form-control" id="senha" name="senha"
			#senhaValidate="ngModel"
			[(ngModel)]="usuario.senha"
			 required="true" autocomplete="false">
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-3">
			<label for="cpf">CPF</label>
			<span style="color: red; font-size: 23px;" *ngIf="cpfValidate.invalid"> *</span>
			<input type="text" class="form-control" id="cpf" name="cpf"
			#cpfValidate="ngModel"
			[(ngModel)]="usuario.cpf"
			 required="true" autocomplete="false">
		</div>
	</div>

  <div class="card text-center">
    <div class="card-header">
      Telefone Contato
    </div>
    <div class="card-body" style="padding-left: 1px;">
      <div class="form-row">
        <div class="form-group col-md-3">
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <button class="btn btn-primary">Adicionar</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <tbody>
      <tr *ngFor="let fone of usuario.telefones">
        <td>{{fone.id}}</td>
        <td>{{fone.numero}}</td>
        <td><button class="btn btn-danger" (click)="deletarTelefone(fone.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>

	<div class="form-row">
		<div class="form-group col-md-6">
			<button type="button" class="btn btn-primary"
			(click)="novo();"
			>Novo</button>

			<button type="button" class="btn btn-primary" style="margin-left: 10px;"
			[disabled]="formValidate.invalid"
			(click)="salvarUsario()">Salvar</button>

			<button type="button" class="btn btn-primary" style="margin-left: 10px;"
			[routerLink]="['/usuarioList']" routerLinkActive="router-link-active" >Voltar</button>
		</div>
	</div>
</form>
